body {
	font-size: 16px;
	font-family: 'Noto Serif', serif;
	background: #f1f1f1;
	color: #333;
}
a:hover {
	text-decoration: underline;
}
.cont {
	max-width: 1000px;
	margin: 0 auto;
	padding: 15px 0;
	overflow: hidden;
}
.bloque-rojo {
	height: 83px;
}
.header {
	overflow: hidden;
	background: rgba(204, 2, 2, 0.8);
	position: fixed;
	width: 100%;
	z-index: 2;

	.cont {
		padding: 10px 0 5px 0;
	}
	.logo {
		display: block;
		float: left;
	}
	.menu {
		float: right;

		li {
			display: inline-block;
			margin: 23px 15px;
			font-weight: bold;

			a {
				text-decoration: none;
				text-transform: uppercase;
				color: #fff;
			}
		}
	}
}
.posts {
	overflow: hidden;
}
.tax {
	font-size: 2.6rem;
	text-align: center;
}
.post {
	width: 300px;
	margin: 15px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
	background: #fff;
	padding: 0 15px 15px 15px;

	.category {
		position: absolute;
		padding: 4px 8px;
		text-transform: uppercase;
		font-size: 0.8rem;
		background: rgba(209, 46, 46, 0.75);
		color: #fff;
		font-weight: bold;
		margin-left: -15px;

		a {
			color: #fff;
			text-decoration: none;
		}
	}
	figure {
		width: 300px;
		margin-left: -15px;
		height: 200px;
		margin-bottom: 10px;
	}
	h2 {
		margin: 0 0 10px 0;
		min-height: 60px;
		line-height: 30px;

		a{
			text-decoration: none;
			color: #222;

			&:hover {
				text-decoration: underline;
			}
		}
	}
	.date {
		font-size: 0.9rem;
	}
}
.article {
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
	background: #fff;
	padding: 50px 10%;
	margin-bottom: 40px;

	h1 {
		font-size: 3rem;
		text-align: center;
		margin-top: 0;
	}
	.info {
		margin-bottom: 30px;
	}
	.texto {
		line-height: 2rem;
		font-size: 1.3rem;

		ul {
			margin-bottom: 20px;
		}
	}
}
.info li {
	display: inline-block;
	margin-right: 20px;
	font-size: 0.9rem;

	a {
		text-decoration: none;
		color: #333;
	}
}
.image {
	text-align: center;
	line-height: 0px;
	margin-top: 15px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);

	div {
		opacity: 0.3;
	}
}
.footer {
	background: #111;
	font-size: 0.9rem;
	color: #fff;

	p {
		margin-bottom: 0;
	}
}